In [5]:
a = 1
b = 2

In [6]:
print(a)
print("변수 a의 값은 : ", b)

1
변수 a의 값은 :  2

In [8]:
a = 3; b= 4
print(a, ",", b)

3 , 4

In [9]:
a = 1
print("a = ", a, ",", type(a))

a =  1 , <class 'int'>

In [10]:
a = 100000
print("a = ", a, ",", type(a))

a =  100000 , <class 'int'>

In [11]:
a = 1.23
print("a = ",a, ",", type(a))

a =  1.23 , <class 'float'>

In [13]:
a = 'Hello World!'
print("a = ",a, ",", type(a))

a =  Hello World! , <class 'str'>

In [14]:
a = True
print("a = ",a, ",", type(a))

a =  True , <class 'bool'>

In [15]:
a = [1, 2, 3]
print("a = ",a, ",", type(a))

a =  [1, 2, 3] , <class 'list'>

In [16]:
a = (1, 2, 3)
print("a = ",a, ",", type(a))

a =  (1, 2, 3) , <class 'tuple'>

In [17]:
print("Escape Sequence")

Escape Sequence

In [18]:
a = '여름'
b = '방학'
c = a + b
print(c)

여름방학

In [19]:
a = 'Hi!'
b = a * 3
print(b)

Hi!Hi!Hi!

In [20]:
a = 'package'
print(a)
print(a[2])
print(a[-2])

package
c
g

In [22]:
a = 5; b = 6
print(a, ",", b)
print("a = %d, b = %d" %(a, b))

5 , 6
a = 5, b = 6

In [23]:
print("%d" % 25)
print("%4d" %25)

25
  25

In [24]:
print("%04d" %25)

0025

In [25]:
print("%f" %3.14)

3.140000

In [26]:
print("%.3f" %3.14)

3.140

In [29]:
a = '서울'
b = 3
print("{}은 {}위입니다." .format(a, b))

서울은 3위입니다.

In [31]:
a = '서울'
b = 3
print(f'{a}은 {b}위입니다.')

서울은 3위입니다.

In [33]:
# 숫자 바로 대입
"I eat {0} apples" .format(3)

'I eat 3 apples'

In [35]:
# 문자열 바로 대입하기
"I eat {0} apples" .format("five")

'I eat five apples'

In [36]:
# 숫자 값을 가진 변수로 대입하기
number = 3
"I eat {0} apples" .format(number)

'I eat 3 apples'

In [37]:
# 2개 이상의 값 넣기
number = 10
day = "three"
"I ate {0} apples, so I was sick for {1} days." .format(number, day)

'I ate 10 apples, so I was sick for three days.'

In [38]:
# 이름으로 넣기
"I ate {number} apples, so I was sick for {day} days." .format(number = 10, day = 3)

'I ate 10 apples, so I was sick for 3 days.'

In [39]:
# 왼쪽 정렬
"{0:<10}" .format("hi")

'hi        '

In [40]:
# 오른쪽 정렬
"{0:>10}" .format("hi")

'        hi'

In [42]:
# 가운데 정렬
"{0:^10}" .format("hi")

'    hi    '

In [43]:
# 공백 채우기
print("{0:=^10}" .format("hi"))
print("{0:!<10}" .format("hi"))

====hi====
hi!!!!!!!!

In [45]:
# 소수점 표현하기
y = 3.42134234
"{0:0.4f}" .format(y)

'3.4213'

In [47]:
"{0:10.4f}" .format(y)
'    3.4213'

'    3.4213'

In [48]:
# { 또는 } 문자 표현하기
"{{ and }}" .format()

'{ and }'

In [49]:
name = '홍길동'
age = 30
f'나의 이름은 {name}입니다. 나이는 {age}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [50]:
age = 30
f'나는 내년이면 {age + 1}살이 된다.'

'나는 내년이면 31살이 된다.'

In [51]:
# 딕셔너리는 Key와 Value라는 것을 한 쌍으로 갖는 자료형
d = {'name':'홍길동', 'age':30}
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [53]:
print(f'{"hi":<10}')  # 왼쪽 정렬
print(f'{"hi":>10}')  # 오른쪽 정렬
print(f'{"hi":^10}')  # 가운데 정렬

hi
        hi
    hi

In [54]:
# 공백 채우기
print(f'{"hi":=^10}')  # 가운데 정렬하고 '=' 문자로 공백 채우기
print(f'{"hi":!<10}')  # 왼쪽 정렬하고 '!' 문자로 공백 채우기

====hi====
hi!!!!!!!!

In [55]:
y = 3.42134234
print(f'{y:0.4f}')  # 소수점 4자리까지만 표현
print(f'{y:10.4f}')  # 소수점 4자리까지 표현하고 총 자리수를 10으로 맞춤

3.4213
    3.4213

In [57]:
f'{{ and }}'

'{ and }'

In [58]:
a = "hobby"
a.count("b")

2

In [60]:
a = "Python is the best choice"
print(a.find('b'))
print(a.find('k'))

14
-1

In [61]:
a = "Life is too short"
print(a.index('t'))
print(a.index('k'))

8

ValueError: substring not found

In [62]:
# 문자열 사이에 , 를 삽입
"," .join('abcd')

'a,b,c,d'

In [63]:
# list, tuple에서도 활용
"," .join(['a', 'b', 'c', 'd'])

'a,b,c,d'

In [64]:
a = "hi"
a.upper()

'HI'

In [65]:
a = "HI"
a.lower()

'hi'

In [66]:
a = " hi "
a.lstrip()

'hi '

In [67]:
a = " hi "
a.rstrip()

' hi'

In [68]:
a = " hi "
a.strip()

'hi'

In [70]:
a = "Life is too short"
a.replace("Life", "Your leg")

'Your leg is too short'

In [71]:
a = "Life is too short"
a.split()

['Life', 'is', 'too', 'short']

In [72]:
b = "a:b:c:d"
b.split(':')

['a', 'b', 'c', 'd']

In [73]:
a = []
b = [1, 2, 3]
c = ['Lift', 'is', 'too', 'short']
d = [1, 2, 'Life', 'is']
e = [1, 2, ['Life', 'is']]

In [74]:
a = [1, 2, 3]
a

[1, 2, 3]

In [75]:
a[0]

1

In [76]:
a[0] + a[2]

4

In [77]:
a[-1]

3

In [78]:
a = [1, 2, 3, ['a', 'b', 'c']]

In [79]:
print(a[0])
print(a[-1])
print(a[3])

1
['a', 'b', 'c']
['a', 'b', 'c']

In [80]:
a[-1][0]

'a'

In [81]:
a[-1][1]

'b'

In [82]:
a[-1][2]

'c'

In [84]:
a = [1, 2, ['a', 'b', ['Life', 'is']]]
a[2][2][0]

'Life'

In [85]:
a = [1, 2, 3, 4, 5]
a[0:2]

[1, 2]

In [86]:
a = "12345"
a[0:2]

'12'

In [87]:
a = [1, 2, 3, 4, 5]
b = a[:2]
c = a[2:]
print(b)
print(c)

[1, 2]
[3, 4, 5]

In [88]:
a = [1, 2, 3, ['a', 'b', 'c'], 4, 5]
a[2:5]

[3, ['a', 'b', 'c'], 4]

In [89]:
a[3][:2]

['a', 'b']

In [90]:
a = [1, 2, 3]
b = [4, 5, 6]
a + b

[1, 2, 3, 4, 5, 6]

In [92]:
a = [1, 2, 3]
a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [93]:
a = [1, 2, 3]
len(a)

3

In [95]:
a = [1, 2, 3]
a[2] = 4
a

[1, 2, 4]

In [96]:
a = [1, 2, 3]
del a[1]
a

[1, 3]

In [97]:
a = [1, 2, 3, 4, 5]
del a[2:]
a

[1, 2]

In [98]:
a = [1, 2, 3]
a.append(4)
a

[1, 2, 3, 4]

In [99]:
a.append([5, 6])
a

[1, 2, 3, 4, [5, 6]]

In [100]:
a = [1, 4, 3, 2]
a.sort()
a

[1, 2, 3, 4]

In [101]:
a = ['a', 'c', 'b']
a.sort()
a

['a', 'b', 'c']

In [102]:
a = ['a', 'c', 'b']
a.reverse()
a

['b', 'c', 'a']

In [103]:
a = [1, 2, 3]
a.index(3)

2

In [104]:
a.index(1)

0

In [105]:
a = [1, 2, 3]
a.insert(0, 4)
a

[4, 1, 2, 3]

In [106]:
a.insert(3, 5)
a

[4, 1, 2, 5, 3]

In [107]:
a = [1, 2, 3, 1, 2, 3]
a.remove(3)
a

[1, 2, 1, 2, 3]

In [108]:
a = [1, 2, 3, 4]
a.pop()

4

In [109]:
a

[1, 2, 3]

In [111]:
# a = [1, 2, 3]
a.pop(1)
a

[1, 3]

In [112]:
a = [1, 2, 3, 1]
a.count(1)

2

In [114]:
a = [1, 2, 3]
a.extend([4, 5])
a

[1, 2, 3, 4, 5]

In [117]:
b = [6, 7]
a.extend(b)
a

[1, 2, 3, 4, 5, 6, 7]

In [118]:
t1 = ()
t2 = (1, )
t3 = (1, 2, 3)
t4 = 1, 2, 3
t5 = ('a', 'b', ('ab', 'cd'))

In [119]:
t1 = (1, 2, 'a', 'b')
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

In [120]:
t1 = (1, 2, 'a', 'b')
t1[0] = 'c'

TypeError: 'tuple' object does not support item assignment

In [121]:
t1 = (1, 2, 'a', 'b')
t1[0]

1

In [122]:
t1[3]

'b'

In [123]:
t1 = (1, 2, 'a', 'b')
t1[1:]

(2, 'a', 'b')

In [124]:
t1 = (1, 2, 'a', 'b')
t2 = (3, 4)
t1+ t2

(1, 2, 'a', 'b', 3, 4)

In [125]:
t2 = (3, 4)
t2 * 3

(3, 4, 3, 4, 3, 4)

In [126]:
t1 = (1, 2, 'a', 'b')
len(t1)

4

In [127]:
dic = {'name':'pey', 'phone':'0119993323', 'birth':'1118'}

In [128]:
# Key로 정수 값 1, Value로 문자열 'hi'
a = {1: 'hi'}

In [130]:
# Key로 문자, Value에 리스트
a = {'a':[1, 2, 3,]}

In [131]:
a = {1:'a'}
a[2] = 'b'
a

{1: 'a', 2: 'b'}

In [132]:
a['name'] = 'pey'
a

{1: 'a', 2: 'b', 'name': 'pey'}

In [133]:
a[3] = [1, 2, 3]
a

{1: 'a', 2: 'b', 'name': 'pey', 3: [1, 2, 3]}

In [134]:
del a[1]
a

{2: 'b', 'name': 'pey', 3: [1, 2, 3]}

In [135]:
grade = {'pey':10, 'juliet':99}
grade['pey']

10

In [136]:
grade['juliet']

99

In [137]:
dic = {'name':'pey', 'phone':'0119993323', 'birth':'1118'}
dic['name']
dic['phone']
dic['birth']

'1118'

In [138]:
a = {1:'a', 1:'b'}
a

{1: 'b'}

In [139]:
a = {[1, 2]:'hi'}

TypeError: unhashable type: 'list'

In [141]:
a = {'name':'pey', 'phone':'0119993323', 'birth':'1118'}
a.keys()

dict_keys(['name', 'phone', 'birth'])

In [142]:
a.values()

dict_values(['pey', '0119993323', '1118'])

In [143]:
a.items()

dict_items([('name', 'pey'), ('phone', '0119993323'), ('birth', '1118')])

In [144]:
a.clear()
a

{}

In [145]:
a = {'name':'pey', 'phone':'0119993323', 'birth':'1118'}
a.get('name')

'pey'

In [146]:
a.get('phone')

'0119993323'

In [147]:
a = {'name':'pey', 'phone':'0119993323', 'birth':'1118'}
print(a.get('nokey'))
print(a['nokey'])

None

KeyError: 'nokey'

In [148]:
a = {'name':'pey', 'phone':'0119993323', 'birth':'1118'}
'name' in a

True

In [149]:
'email' in a

False

In [150]:
s1 = set([1, 2, 3])
s1

{1, 2, 3}

In [152]:
s2 = set('Hello')
s2

{'H', 'e', 'l', 'o'}

In [153]:
# set 자료형에 저장된 값을 인덱싱으로 접근하려면 다음과 같이 리스트나 튜플로 변환한 후 사용
s1 = set([1, 2, 3])
l1 = list(s1)
l1

[1, 2, 3]

In [154]:
l1[0]

1

In [155]:
t1 = tuple(s1)
t1

(1, 2, 3)

In [156]:
t1[0]

1

In [157]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

In [158]:
s1 & s2

{4, 5, 6}

In [159]:
s1.intersection(s2)

{4, 5, 6}

In [160]:
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [161]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [162]:
s1 - s2

{1, 2, 3}

In [163]:
s2 - s1

{7, 8, 9}

In [164]:
s1.difference(s2)

{1, 2, 3}

In [165]:
s2.difference(s1)

{7, 8, 9}

In [166]:
s1 = set([1, 2, 3])
s1.add(4)
s1

{1, 2, 3, 4}

In [167]:
s1 = set([1, 2, 3])
s1.update([4, 5, 6])
s1

{1, 2, 3, 4, 5, 6}

In [168]:
s1 = set([1, 2, 3])
s1.remove(2)
s1

{1, 3}